
TodoApp/.idea/.name
TodoApp/.idea/compiler.xml
TodoApp/.idea/deploymentTargetDropDown.xml
TodoApp/.idea/discord.xml
TodoApp/.idea/gradle.xml
TodoApp/.idea/kotlinc.xml
TodoApp/.idea/migrations.xml
TodoApp/.idea/misc.xml
TodoApp/.idea/vcs.xml
